{% extends 'base.html' %}

{% block extra_style %}
<link rel="stylesheet" href="/manifests/css/manifests.css" type="text/css" media="all" />
{% endblock extra_style %}

{% block content %}
<h3>Confirm move packages</h3>

{% if items_to_actually_move %}

		{# Drop-down list for moving to a catalog #}
<form id='move' action='/pkginfo/' method='post'>
	<div class='well form-horizontal'>
		<input class='btn' type='submit' value='Confirm Move' />
	</div>

	<p/>
	<table class='pkglist table table-striped table-condensed'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Version</th>
				<th>Origin Catalog</th>
				<th>Destination Catalog</th>
			</tr>
		</thead>
		<tbody>
	{% for package, version, origin in items_to_actually_move %}
			<tr>
				<td class='item-name'>{{ package }}</td>
				<td class='version'>{{ version }}</td>
				<td class='catalog'>{{ origin }}</td>
				<td class='catalog'>{{ dest_catalog }}</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
</form>
{% else %}
	<p><i>No Packages.</i></p>
{% endif %}
{% endblock content %}