{% extends 'base.html' %}

{% block content %}
<h3>Packages</h3>
<p>Here's the catalog:<br />{{ random_variable }}</p>

{% if all_catalog_items %}
	<p/>
	<table class='pkglist table table-striped table-condensed'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Version</th>
				<th>Catalog</th>
				<th>Move?</th>
			</tr>
		</thead>
		<tbody>
	{% for pkg in all_catalog_items %}
			<tr>
				<td class='item-name'>{{ pkg }}</td>
				<td class='version'>
		{% for item in pkg.list|dictsortreversed:'version' %}
					{{ item.version }}<br />
		{% endfor %}
				</td>
				<td class='catalog'>
		{% for item in pkg.list|dictsortreversed:'catalogs' %}
			{% for string in item.items %}
				{{ string }}<br />
			{% endfor %}
		{% endfor %}
				</td>
				<td><input type="checkbox" /></td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
{% else %}
	<p><i>No Packages.</i></p>
{% endif %}
{% endblock %}