{% load url from future %}
<h3>Packages</h3>
{% if catalog_items|length %}
	{# must create a pkglist section in pkginfo.css #}
	<p/>
	<table class='pkglist table table-striped table-condensed'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Version</th>
				<th>Catalog</th>
				<th>Move?</th>
			</tr>
		</thead>
		<tbody>
	{% for item in catalog_items %}
			<tr>
				<td class='item-name'>{{ item_name.grouper }}</td>
				<td class='version'>
		{% for item in item_name.list|dictsortreversed:'version' %}
					<a href='/catalog/{{ catalog_name }}/{{ item.index }}'>{{ item.version }}</a><br />
		{% endfor %}
				</td>
				<td>
		{% for item in item_name.list:'catalog' %}
			{% for string in item.items %}
				{{ string }}<br />
			{% endfor %}
		{% endfor %}
				</td>
				<td><!-- checkbox --></td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
{% else %}
	<p><i>No Packages.</i></p>
{% endif %}