{% extends 'base.html' %}

{% block extra_style %}
<link rel="stylesheet" href="/manifests/css/manifests.css" type="text/css" media="all" />
{% endblock extra_style %}

{% block content %}
<h3>Packages</h3>

{% if all_catalog_items %}

		{# Drop-down list for moving to a catalog #}
<form id='move' action='/pkginfo/' method='get'>
	<div class='well form-horizontal'>
		<label for='section'>Move selected packages to catalog:</label>
		<select class='span2' id='section' name='dest_catalog'>
			{% for item in catalog_list %}
				<option value='{{ item }}' {% if item == catalog_name %} selected='selected' {% endif %}>{{ item }}</option>
			{% endfor %}
		</select>
		<input class='btn' type='submit' value='Move' />
	</div>

	<p/>
	<table class='pkglist table table-striped table-condensed'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Version</th>
				<th>Catalog</th>
				<th>Check to select</th>
			</tr>
		</thead>
		<tbody>
	{% for pkg in all_catalog_items %}
			<tr>
				<td class='item-name'>{{ pkg.name }}</td>
				<td class='version'>{{ pkg.version }}</td>
				<td class='catalog'>
		{% for catalog in pkg.list:'catalogs' %}
					{{ catalog }}<br />
		{% endfor %}
				</td>
				<td><input type='checkbox' name='items_to_move[]' value='{{ pkg.name }}_{{ pkg.version }}'/></td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
</form>
{% else %}
	<p><i>No Packages.</i></p>
{% endif %}
{% endblock content %}